@model Project
@{
    ViewData["Title"] = Model.Name;
}

<h1>About</h1>

<div class="container" style="background-color:#eee">
    <h2>@Model.Name</h2>
    <div class="text-left">
        <p>
            @Model.Description
        </p>
        Authors:
        @foreach (var author in Model.Authors)
        {
            <div class="w-auto">
                <a href="~/Author/About/@author.Id">@author.FullName</a>
            </div>
        }
    </div>
</div>

<div class="mt-2 d-flex justify-content-between">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index" role="button">Projects hub</a>
    @if (Context.User.IsInRole("admin"))
    {
        <div>
            <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model.Id" role="button">Edit</a>
            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.Id" role="button">Delete</a>
        </div>
    }
</div>