@model AuthorsListViewModel
@{
    ViewData["Title"] = $"Authors";
}

<h1>Authors</h1>

<div class="container">
    @foreach (var author in Model.Items)
    {
        <div class="container my-4 rounded-lg" style="background-color: #f5f5f5;">
            <div class="h4 d-flex flex-column">
                @Html.ActionLink(author.FullName, "About", "Author", new { id = author.Id })
                
                <div class="align-self-end">
                    <a class="d-md-none d-inline-block btn-sm btn-outline-warning" asp-controller="Author" asp-action="Edit" asp-route-id="@author.Id" role="button">Edit</a>
                    <a class="d-none d-md-inline-block btn btn-outline-warning" asp-controller="Author" asp-action="Edit" asp-route-id="@author.Id" role="button">Edit</a>
                    <a class="d-md-none d-inline-block btn-sm btn-outline-danger" asp-controller="Author" asp-action="Delete" asp-route-id="@author.Id" role="button">Delete</a>
                    <a class="d-none d-md-inline-block btn btn-outline-danger" asp-controller="Author" asp-action="Delete" asp-route-id="@author.Id" role="button">Delete</a>
                </div>
            </div>
        </div>
    }

    <pagination model="Model.PaginationInfo" />
</div>